.footer{
  height: 420px;

  h3 a, h3 a:link{ color: #fff !important; }

  h3 a:hover{ color: $ssi-blue; }

  a, a:link{ color: #666 !important; }

  a:hover{color: $ssi-blue; }

  .footer-column{
      display: inline-block;
      margin: 40px 20px 0 0;
      vertical-align: top;
      font-family: 'Roboto Condensed', sans-serif;
      width: 30%;

    h3{
      font-weight: 300;
      letter-spacing: 0.05em;
      color: white;
      font-size: 22px;
    }

    ul, li{
      list-style-type: none;
      list-style-image: none !important;
    }

    ul{
      margin: 0 0 35px 5px !important;
      left: 0;
    }
  }


}

.footer-btm{
    width: 100%;
    background-color: black;
    height: 40px;

    a, a:link{ color: #666; }

    a:hover{ color: $ssi-blue; }

    .copyright{ float:right; }
}

  .home-btm-foot{
    background-color: black;
    padding-top: 8px;
  }