/**
 * $HOME
 * ==========================================================================
 * This is a placeholder and example for a view.
 */

 * {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: $body-copy;

  a, a:link, a:visited{
    color: $ssi-blue;
  }
}

 .clear-fix{ clear: both; }

 .container{
 	width: 100%;
 	max-width: 100%;
 	padding: 0;
 }

.nav-box{
 	width: 100%;

 	a, a:link, a:visited{
 		color: $copy-dark;
 		font-weight: 700;
 		font-size: 18px;
    letter-spacing: 0.01em;
    display: inline-block;
    padding: 5px 2px 40px 2px;
 	}

 	a:hover{
 		color: $ssi-blue;
 		border-bottom: 4px $ssi-blue solid;
 	}

 	.upper-nav{
 		background-color: $ssi-blue;
 		height: 55px;
 	}

 	.lower-nav{
 		background-color: white;
 		height: 85px;

 		.main-nav-block{
		    display: inline-block;
			  vertical-align: top;
			  float: right;
			  position: relative;
			  margin-right: 5%;
 			
 			ul,li{
 				list-style-type: none;
 			}	
 			ul{
 				// float: left;
 				// margin-left: 13%;
 			}
 			li{
 				padding: 0 10px 0px 10px;
    			position: relative;
    			display: inline;
 			}	
 		}
 	}
 }

  .home-sub-section{
    width: 100%;
    //max-width: 1600px;
    margin: auto;
    //border-top: 1px #e5e5e5 solid;
    border-bottom: 1px #e5e5e5 solid;

    .content-section{
      width: 80%;
      margin: auto;
      max-width: 1600px;
    }

    h2{
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      letter-spacing: 0.03em;
      margin-bottom: 14px;
      padding-top: 30px;
    }

    .section-break{
      border-bottom: 2px #cdd5db solid;
      width: 90px;
      margin: auto;
      margin-bottom: 10px;
    }


    .section-description{
      text-align: center;
      width: 70%;
      margin: auto;
      margin-bottom: 30px;
      padding-top: 10px;
    }
 }

.home-sub-gray{
  background-color: #fafafa;
 }

.home-sub-foot{
  background-color: #14181c;
 }

.home-sub-foot{
  background-color: black;
 }

.services-section{
  background-color: #fff;
}

.services-block{
    border: thin gray solid;
    display: inline-block;
    width: 30%;
    margin: 20px 5px;
    padding: 15px;
    vertical-align: top;

    h3{
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      letter-spacing: 0.03em;
      font-size: 18px;
    }

    p{
      font-size: 14px;
      line-height: 20px;
    }

    a{ 
      display: block;
      text-align: center; 
    }
}

//CLIENTS / LOGOS SECTION
.client-section{
  .client-logos{
      margin: 50px auto;
      width: 90%;
      overflow: hidden;
      height: 102px;
      margin-bottom: 100px;

    .client-logo{
      display: inline-block;
      margin: 0 30px;
    }
  }
}

.project-section{
  width: 100% !important;
  max-width: none !important;

  .project-container{
    margin-top: 35px;
    text-align: center;
  }

  .project-row{
    height: 300px;
    overflow: hidden;
    margin: 0;
    max-height: 289px;    

    .project-thumb{
        display: inline-block;
        margin: 0;
        float: left;
        width: 25%;

      img{ 
        margin: 0;
        width: 100%;
      }
    }
  }

  .view-projects{
    margin: 60px auto;
  }
}

.contact-section{
  .split50{
    width: 48%;
    display: inline-block;
    vertical-align: top;
  }
  .send-btn{
    margin: 0px 0px 50px 0px;
  }
}

.footer{
  height: 420px;
  //background-image: url('../img/footer-plate.jpg');
  //background-repeat: no-repeat;

  h3 a, h3 a:link{ color: #fff; }

  h3 a:hover{ color: $ssi-blue; }

  a, a:link{ color: #666; }

  a:hover{color: $ssi-blue; }

  .footer-column{
      display: inline-block;
      margin: 40px 20px 0 0;
      vertical-align: top;
      font-family: 'Roboto Condensed', sans-serif;
      width: 30%;

    h3{
      font-weight: 300;
      letter-spacing: 0.05em;
      color: white;
      font-size: 22px;
    }

    ul, li{
      list-style-type: none;
    }

    ul{
      margin: 0 0 35px 5px;
    }
  }
}

.footer-btm{
    width: 100%;
    background-color: black;
    height: 40px;

    a, a:link{ color: #666; }

    a:hover{color: $ssi-blue; }

    .copyright{float:right;}
  }





 
