/**
 * $NAV STYLES
 * ==========================================================================
 */

.nav-box{
 	width: 100%;

 	a, a:link, a:visited{
 		color: $copy-dark;
 		font-weight: 700;
 		font-size: 18px;
    	letter-spacing: 0.04em;
    	display: inline-block;
    	padding: 5px 2px 40px 2px;
 	}

 	a:hover{
 		color: $ssi-blue;
 		border-bottom: 4px $ssi-blue solid;
 	}

 	.upper-nav{
 		background-color: $ssi-blue;
 		height: 55px;
 	}

 	.lower-nav{
 		background-color: white;
 		height: 85px;

 		.inner-low-nav{
 			width: 80%;
 			margin: auto;
 			max-height: 86px;
            min-width: 1030px;
 		}

 		.nav-logo{
	 		position: relative;
	 		z-index: 5;
	    	display: inline-block;
	    	top: -57px;
		 }

 		.main-nav-block{
 			    display: inline-block;
    			vertical-align: top;
    			float: right;
    			position: relative;
                margin-right: 5px;
    			height: 80px;
 			
 			ul,li{
 				list-style-type: none;
 			}	
 			ul{}
 			li{
 				padding: 0 10px 0px 10px;
    			position: relative;
    			display: inline;
 			}	
 		}
 	}
 }





#primary_nav_wrap
{
    margin-top:15px
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}

#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}
 
