/**
 * $SLIDER STYLES
 * ==========================================================================
 */


 .slider-container{
 	width: 100%;
 	height: auto;
 	overflow: auto;

 	.slider-texture{
 		background-image: url('../img/slider-texture.png');
 		background-repeat: repeat;
 		width: 100%;
 		height: 98%;
 		position: absolute;
 		z-index: 5;
 	}

 	.slider-image{
 		img{ 
 			width: 100%;
 		}
 	}
 }

